<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8" />
		<script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.8/angular.min.js"></script>
		<style>
			.error{
				background-color:red;
			}
			.warning{
				background-color:yellow;
			}
		</style>
	</head>
	<body>
		<div ng-controller="HeaderController">
			<div ng-class="{error:isError,warning:isWarning}">{{messageText}}</div>
			<button ng-click="showError()">Simulate Error</button>
			<button ng-click="showWarning()">Simulate Warning</button>
		</div>
		<script>
			function HeaderController($scope){
				$scope.isError=false;
				$scope.isWarning=false;

				$scope.showError=function(){
					$scope.messageText="This is an error";
					$scope.isError=true;
					$scope.isWarning=false;
				}

				$scope.showWarning=function(){
					$scope.messageText="Just a warning.Please carry on!";
					$scope.isWarning=true;
					$scope.isError=false;
				}
			}
		</script>
	</body>
</html>